*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ccc;
}

.container{
    width: 900px;
    margin: 0 auto; 
}

.apply_box{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
}

.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.form_control{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 15px;
    margin-bottom: 5px;
}

input
select
textarea{
    padding: 6px 10px;
    border: 1px solid grey;
    border-radius: 4px;
    font-size: 15px;
}

input:focus{
    /* border-color: black; */
    outline-color: blue;
}

.button_container{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

}

button{
    background-color: lightseagreen;
    border: transparent solid 2px;
    padding: 5px 10px;
    color: #fff;
    border-radius: 6px;
    transition: 0.3s ease-in;
}

button:hover{
    background-color: #323030;
    border: 2px solid;
    transition: 0.3s ease-out;
    cursor: pointer;
}